<div class="header">
  <div>
    <h1 class="logo">Pinterest</h1>
  </div>
  <div>
    <span class="header_tab_button">nav1</span>
    <span class="header_tab_button">nav2</span>
    <span class="header_tab_button">nav3</span>
    {% if not user.is_authenticated %}
    <a href="{% url 'account_app:login' %}?next={% url 'account_app:hello_world' %}">
      <span class="header_tab_button">login</span>
    </a>
    {% else %}
    <a href="{% url 'account_app:detail' pk=user.pk %}">
      <span class="header_tab_button">My Page</span>
    </a>
    <a href="{% url 'account_app:logout' %}?next={% url 'account_app:login' %}">
      <span class="header_tab_button">logout</span>
    </a>
    {% endif %}
  </div>
</div>